body {
  background-color: darkslateblue;
  color: white;
  /* font-family: 'Mulish', sans-serif; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

html, body {
  height: 100%;
}

p, h1, h2{
  margin: 0;
}
