.first-row {
  margin: 15px 0;
}

.second-row {
  width: 82%;
  font-size: 20px;
  text-align:justify;
  margin-bottom: 30px;
  word-spacing:-1px;
}


.third-row {
  display: grid;
  padding: 0% 15%;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  /* grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px; */
  justify-items: center;

  margin-bottom: 5rem;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(42, 33, 75);
  color: white;
  padding: 10px;
  row-gap: 10px;
  border-radius: 13px;
  width: 80%;
}

.project div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-first-row {
  padding: 1rem;
}

/* .project-first-row img {
  height: 100%;
  width: 80%;
  object-fit: cover;
} */

.project-first-row img {
  height: 160px;
}

.tictactoe-img {
  height: 160px;
  width: 160px;
  object-fit: cover;
}

.animated-img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.project-second-row {
  font-size: 15px;
  text-align: center;
}

.project-third-row {
  margin: 0 7px;
  text-align: justify;
  word-spacing: -2px;
}

.project-third-row p {
  font-size: 14px;
  height: 100px;
  padding-right: 10px;
  overflow-y: scroll;
}

.project-fourth-row {
  height: 40px;
  align-items: center;
}

.project-fourth-row div {
  flex: 1;
}

.project-fourth-row button {
  background-color: transparent;
  border: 2px solid yellow;
  color: yellow;
  font-size: 13px;
  padding: 10px 15px;
  border-radius: 10px;
  font-family: Mulish;
  font-weight: 700;
  cursor: pointer;
  transition: box-shadow 0.2s, padding 0.2s, font-size 0.2s;
}

.project-fourth-row button:hover {
  box-shadow: 0 0 5px 5px rgba(255, 255, 0, 0.349);
  padding: 11px 16px;
  font-size: 15px;
  text-shadow:  0 0 10px rgba(255, 255, 0, 0.788);
}



/* Only apply the CSS code below when screen width
is between 0px - 750px. */

/* @media (max-width: 700px) {

  .third-row {
    grid-template-columns: 1fr 1fr;
  }

  .header-design {
    padding-left: 0;
  }

} */